<div class="jumbotron text-center dexImg" id="pokeFont">
  <h1>PoKéDeX:</h1>

</div>

<div class="row">
  <div class="col">
    <div> {{#each pokemon}}
      <div class="card pokecard" style="width:300px">
        <div class="card-body">
          <p class="card-title">{{Name}}</p>
          <p class="card-text">Type: {{Type1}}</p>
          <p class="card-text">HP: {{HP}}</p>
          <p class="card-text">Attack: {{Attack}}</p>
          <p class="card-text">Defense: {{Defense}}</p>
          <p class="card-text">Generation: {{Generation}}</p>
          <p class="card-text">PokeMon Selector: {{Number}}</p>
        

          <img src="https://pokeres.bastionbot.org/images/pokemon/{{Number}}.png" class="interaction" data-micron="jerk"
            alt="pokemans">
        </div>
      </div>
      {{/each}} </p>
    </div>

  </div>
</div>